{% extends 'cajadiaria/base.html' %}
{%block content%}
  <div class="post">

<table>

<th> Orden de transacciones </th>

{% for cuenta in cuenta%}

  <tr>
  <td><h3 class="date">Dia de corte :{{cuenta.fecha|date:'d-m-Y'}}</h3></td>
  <td> ........................... </td>
  <td><h2><a href="{% url 'detallecaja' pk=cuenta.pk%}">{{cuenta.nombre}} </a></h2></td>
  <td> ........................... </td>
  <td><h3>{{cuenta.descripcion|truncatechars:200}}</h3></td>
</tr>

  {% endfor%}
</table>

  </div>
{%endblock content%}
